/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
    background-color: rgb(83, 50, 16);
  }

a {
    text-decoration: none;
}

p {
    text-decoration: none;
    color: rgb(255, 244, 172);
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25em;
    margin-bottom: 1.5em;
    margin-right: 1em;
}

h1 {
    max-width: 30em;
    padding: 0.5em 0em 0.5em 0em;

}

h2 {
    font-family: "new-science", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 200, 0);
    padding: 0em 0em 0.2em 0em; 
}

article h2 {
    font-size: 2.75em;
    margin: 0.75em 0em 0.5em 0em;
}

section.main h2 {
    font-size: 2.75em;
}

section.secondary h2 {
    font-size: 1.25em;
}

section.mainstory h2 {
    font-size: 2.75em;
}

section.tertiary h2 {
    font-size: 1.15em;
    border-top: 0.075em solid rgb(255, 244, 172);
    padding-top: 0.5em;
}

  
ul {
    list-style-type: none;
}

nav ul li a {
    font-family: "new-science", sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    font-style: normal;
	text-decoration: none;
    list-style-type: none;
    color: rgb(255, 200, 0);
    text-align:center;
}

nav ul li {
    display: inline;
    padding: 1em 2em 1em 0em;
}

img {
    width: 100%;
    display: block;
}

figure {
    margin: 0em 0em 0.75em 0em;
}

figcaption {
    padding: 0.5em 0em 0.5em 0em;
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25em;
    color: rgb(255, 200, 0);
}

aside {
    background: rgb(255, 244, 172);
    background-size: 100%;
    padding: 0em 0.35em 1em 0.35em;
}

aside figure {
    padding: 1em 0.15em 0em 0.15em;
}

aside p {
    margin-left: 0.4em;
    color: rgb(255, 244, 172);
}

aside.reversed p {
    color: rgb(83, 50, 16);
}

aside.reversed h2 {
    color: rgb(255, 157, 0);
}

aside.home {
    background-color: rgb(83, 50, 16);
}
aside h2 {
    margin-left: 0.35em;
}

div.container, div.home-container {
    max-width: 40em;
    margin: 0 auto;
}

footer {
    padding: 0.5em 0em 1em 0em;
    max-width: 60em;
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25em;
    box-sizing: border-box;
    background-color: rgb(255, 244, 172);
}

footer p {
    margin: 0;
    padding: 0.5em 0em 0em 1em;
    color: rgb(83, 50, 16);
}

@media screen and (max-width: 40em) {
    
    nav ul li{
        display:block;
        padding: 0.25em 0em 0em 0.65em;
    }

    nav {
        padding-bottom: 0.5em;
    }

    h1 {
        max-width: 28em;
        padding: 1em 0em 1em 0.5em;
    }
    
    h2 {
        padding: 0em 0em 0em 0.15em;
    }

    section.secondary h2 {
        padding: 0em 0em 0em 0.3em;
    }
    
    section.tertiary h2 {
        padding: 0.5em 0em 0em 0.4em;
    }

    p {
        padding: 0em 0em 0.5em 0.5em;
    }

    figcaption {
        padding: 0.25em 0em 0.5em 0.4em;
        line-height: 1.25em;
    }

    main p {
        padding-left: 0.5em;
    }

}

@media only screen and (min-width:60em) {

    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 2em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 2em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 4em;
    }
}